*{
    margin: 0;
    padding: 0;
}

.NotFoundFondo{
    height: 89vh;
    background-image: url(./../../assets/fondoNotFound.jpg);
    background-position: center;
    background-size: cover;
}

.BoxNotFound{
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
}

.T404{
    padding-top: 6vh;
    font-size: 3em
}

.Texto{
    margin-top: 2vh;
    font-size: 1.3em;
    font-family: 'Helvetica';
}

.Boton{
    margin-top: 3vh;
    border: 0.5px;
    border-style: solid;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 10px;
    transition: all .2s;
}

.Boton:hover{
    background: rgba(0, 0, 0, 0.05);
}

.Boton:active{
    opacity: 0.7;
}